﻿@model ForgotPasswordViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{ ViewData["Title"] = "Inventory - Forgot your password?"; }

<div class="register-box">

    <div class="register-box-body">       

        <div class="register-logo">
            <img class="profile-user-img img-responsive img-circle" src="@Configuration.GetSection("appSettings")["LayoutImage"]"
                 alt="SGT" title="SGT INVENTORY">
            <a href="/"><b>InvenTory</b></a>
        </div>

        <p class="login-box-msg">Forgot Password</p>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" autocomplete="off" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<button type="submit" class="btn btn-primary btn-block btn-flat">Reset Password</button>*@
            <div class="clearfix">&nbsp;</div>
            <div class="row">

                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Password</button>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="col-xs-12">
                    <a href="/Account/Login" class="btn btn-success btn-block btn-flat">Login to your Account</a>
                </div>
                <!-- /.col -->
            </div>

        </form>



    </div>
    <!-- /.form-box -->
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
