﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="register-box" style="margin-top:-85px;">    
    <div class="register-box-body">
        <div class="register-logo">
            <a href="/"><b>Inven</b>Tory</a>
        </div>
        <p class="login-box-msg">Register your account</p>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

            <div class="form-group has-feedback">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName" />
                <span class="fa fa-user form-control-feedback"></span>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="LastName" />
                <span class="fa fa-user form-control-feedback"></span>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">

                <!-- /.col -->
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Register</button>          
                </div>

                <div class="col-xs-6">                   
                    <a href="/Account/Login" class="btn btn-danger btn-block btn-flat">Login</a>
                </div>
                <!-- /.col -->
            </div>

        </form>
    </div>
    <!-- /.form-box -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(function () {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' /* optional */
            });
          });
    </script>
}
