﻿@model ResetPasswordViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{ ViewData["Title"] = "Reset password"; }

<div class="register-box">

    <div class="register-box-body">
        <div class="register-logo">
            <img class="profile-user-img img-responsive img-circle" src="@Configuration.GetSection("appSettings")["LayoutImage"]"
                 alt="SGT" title="SGT INVENTORY">
            <a href="/"><b>InvenTory</b></a>
        </div>
        <p class="login-box-msg">Reset Password</p>
        <form method="post">
            <input type="hidden" id="hdnUserId" name="hdnUserId" value="@Model.UserProfileId" />

            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" value="@Model.Email" readonly />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>




        </form>


    </div>
    <!-- /.form-box -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
