﻿
@{ ViewData["Title"] = "Change Role"; }

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-users"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="Grid"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@*<script id="templateForm" type="text/template">
        <input hidden id="UserProfileId" name="UserProfileId" value="{{:UserProfileId}}" />
        <input hidden id="ApplicationUserId" name="ApplicationUserId" value="{{:ApplicationUserId}}" />
        <table cellspacing="10">
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input id="Email" name="Email" value="{{:Email}}" />
                </td>
                <td>
                    Role
                </td>
                <td>
                    <input id="Role" name="Role" value="{{:RoleName}}" />
                </td>
            </tr>

            <tr>
                <td>
                    First Name
                </td>
                <td>
                    <input id="FirstName" name="FirstName" value="{{:FirstName}}" />
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    <input id="LastName" name="LastName" value="{{:LastName}}" />
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <div id="waitingPopup"></div>
                    <div id="GridRole"></div>
                </td>
            </tr>
        </table>
    </script>*@


@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {
            var dataManager = ej.DataManager({
                url: "/api/UserRole",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            var dataManagerRole = ej.DataManager({
                url: "/api/Role",
                adaptor: new ej.WebApiAdaptor()
            })

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        updateUrl: "/api/Role/UpdateUserRole"
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["edit", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: false,
                        allowDeleting: false,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                        //editMode: "dialogtemplate",
                        //dialogEditorTemplateID: "#templateForm",
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "UserProfileId", headerText: 'User Profile Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Email", headerText: 'Email', validationRules: { required: true }, allowEditing: false },
                        { field: "FirstName", headerText: 'First Name', validationRules: { required: true }, allowEditing: false },
                        { field: "LastName", headerText: 'Last Name', validationRules: { required: false }, allowEditing: false },
                        { field: "UserRole", headerText: 'Role Name', foreignKeyField: "RoleId", foreignKeyValue: "RoleName", dataSource: dataManagerRole, validationRules: { required: true } }
                    ],
                    actionComplete: "complete",
                });
            });
        });


        function complete(args) {
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
                //$("#Email").ejMaskEdit("disable");
                //$("#FirstName").ejMaskEdit("disable");
                //$("#LastName").ejMaskEdit("disable");
            }
        }
            //function loadRoleByApplicationUserId() {
            //    renderWaiting();

            //    var applicationUserId = $("#UserProfileId").val();

            //    var dataManagerRole = ej.DataManager({
            //        url: "/api/Role/GetRoleByApplicationUserId/" + applicationUserId,
            //        adaptor: new ej.WebApiAdaptor(),
            //        offline: true
            //    });



            //    dataManagerRole.ready.done(function (e) {
            //        $("#GridRole").ejGrid({
            //            dataSource: ej.DataManager({
            //                json: e.result,
            //                adaptor: new ej.remoteSaveAdaptor(),
            //                updateUrl: "/api/Role/UpdateUserRole/" + applicationUserId
            //            }),
            //            toolbarSettings: {
            //                showToolbar: true,
            //                toolbarItems: ["edit", "update", "cancel", "search"]
            //            },
            //            editSettings: {
            //                allowEditing: true,
            //                allowAdding: false,
            //                allowDeleting: false,
            //            },
            //            isResponsive: true,
            //            enableResponsiveRow: true,
            //            allowSorting: true,
            //            allowSearching: true,
            //            allowFiltering: false,
            //            allowPaging: true,
            //            pageSettings: { pageSize: 10 },
            //            columns: [
            //                //{ field: "CounterId", headerText: 'Id', isPrimaryKey: true, visible: false },
            //                //{ field: "UserProfileId", headerText: 'UserProfileId', visible: false },
            //                { field: "RoleId", headerText: 'Role Id', visible: false },
            //                { field: "RoleName", headerText: 'Role Name', allowEditing: true }
            //            ],
            //            actionBegin: "gridRoleBegin"
            //        });
            //    });
            //}

            //function gridRoleBegin(args) {
            //    hideWaiting();
            //}


            //function complete(args) {

            //    $("#Email").ejMaskEdit({
            //        inputMode: 'Text',
            //    });
            //    $("#FirstName").ejMaskEdit({
            //        inputMode: 'Text',
            //    });
            //    $("#LastName").ejMaskEdit({
            //        inputMode: 'Text',
            //    });
            //    $("#Role").ejMaskEdit({
            //        inputMode: 'Text',
            //    });

            //    if (args.requestType == 'beginedit') {
            //        $("#" + this._id + "_dialogEdit").ejDialog({ title: "Change Role" });
            //        $("#Email").ejMaskEdit("disable");
            //        $("#FirstName").ejMaskEdit("disable");
            //        $("#LastName").ejMaskEdit("disable");
            //        $("#Role").ejMaskEdit("disable");

            //        loadRoleByApplicationUserId();
            //    }

            //    if (args.requestType == "save") {
            //        this.refreshContent();
            //    }

            //}

            //function renderWaiting() {
            //    $("#waitingPopup").ejWaitingPopup({
            //        showOnInit: true,
            //        target: "#GridRole"
            //    });
            //}

            //function hideWaiting() {
            //    var obj = $("#waitingPopup").data("ejWaitingPopup");
            //    obj.hide();
            //}


    </script>
}
