﻿<footer class="main-footer">
    @*<div class="pull-right hidden-xs" style="display:none">
        <b>Version</b> 1.0.0
    </div>*@
    <strong>Inventory and Order Management &copy; @DateTime.Now.Year</strong>
</footer>