﻿@model Inventory.Models.UserProfile
@inject Inventory.Data.ApplicationDbContext Context
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{ UserProfile profile = new UserProfile();
    if (Model != null)
    {
        profile = Context.UserProfile.Where(x => x.UserProfileId == Model.UserProfileId).FirstOrDefault();
    }
    else
    {
        profile = new UserProfile();
    } }

<header class="main-header" style="background-color: #1a222f">
    <!-- Logo -->
    <a href="/" class="logo" style="background-color: #1a222f">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        @*<span class="logo-mini"><b>SGT</b></span>*@
        <!-- logo for regular state and mobile devices-->
        @*<span class="logo-lg">SGT <b>Inven</b>Tory</span>*@

        <span class="logo-mini">
            <img src="@Configuration.GetSection("appSettings")["LayoutImage"]" alt="SGT" title="SGT INVENTORY"
                 style="margin-top: -0px;background-color: #1a222f;width: 50px;">
        </span>

        <span class="logo-lg">
            <img src="@Configuration.GetSection("appSettings")["LayoutImage"]" alt="SGT" title="SGT INVENTORY"
                 style="margin-top: -29px;background-color: #1a222f;width: 110px;">
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background-color: #1a222f">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                @if (Model != null)
                {<!-- User Account: style can be found in dropdown.less -->
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="@profile.ProfilePicture" class="user-image profilePicture" alt="User Image">
                                            <span class="hidden-xs">@Model.Email</span>
                                        </a>
                                        <ul class="dropdown-menu" style="width: 189px; ">
                                            <!-- User image -->
                                            @*<li class="user-header">
                                                <img src="@profile.ProfilePicture" class="img-circle profilePicture" alt="User Image">
                                                <p>
                                                    @Model.Email
                                                </p>
                                            </li>*@

                                            <!-- Menu Footer-->

                                            <li class="user-footer">

                                                <div class="pull-left">
                                                    <a href="@Url.Action("UserProfile", "UserRole")" class="btn btn-success btn-flat">Profile</a>
                                                </div>
                                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                                    <div class="pull-right">
                                                        <button type="submit" class="btn btn-danger btn-flat">Sign out</button>
                                                    </div>
                                                </form>

                                            </li>
                                        </ul>
                                    </li>}




            </ul>
        </div>
    </nav>
</header>