﻿
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/"><b>Inven</b>Tory</a>
        </div>
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" value="super@admin.com" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" value="123456" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                @*<div class="col-xs-6">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="RememberMe">  @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>*@
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
            @*<div class="social-auth-links text-center hidden" style="display:none">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>*@
            <!-- /.social-auth-links -->
            <br />
            <a class="btn btn-danger btn-block btn-flat" asp-action="ForgotPassword">Forgot Password</a><br>
            <a class="btn btn-primary btn-block btn-flat" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Register Your Account</a>
            @*<p class="pull-right">
                <span style="font-style:italic;"><small>*Demo => Email: super@admin.com Password: 123456</small></span>
            </p>*@
        </form>


    </div>
    <!-- /.login-box-body -->
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
}
